* {
  box-sizing: border-box;
  margin: 0 auto;
}

#logout {
  display: none;
}

#register {
}

#logged {
  display: none;
}

body {
}

div.background {
  background-image: url("../pic/film2.jpg");
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20px;

  /* height: 100%;
  width: 100%; */
}
a {
  color: #000;
}

a.delete {
  color: #ee0202;
}

a.url-link {
  color: rgb(122, 186, 196);
}
ul {
  list-style: none;
}

#text,
.text-center {
}
header {
  border: 1px solid #000;
  background-position: center;
  padding: 20px 0 0 0;
  background: rgba(122, 184, 255, 0.52);
}

header h1,
h2 {
  text-align: center;
}

nav.event {
  display: flex;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

nav.show {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.52);
  margin-top: 20px;
  margin-bottom: -15px;
  border-top: 1px solid #000000;
}

nav.show ul {
  display: flex;
  padding: 5px 0 4px 0;
}

nav.show ul li a {
  /* margin-left: 10px; */
  font-size: 1.1rem;
  padding: 6px 4px;
  font-weight: bold;
}

nav.show ul li a:hover {
  background: rgba(255, 255, 255, 0.52);
  color: #000000;
}

.li-home-login {
  margin: -6px 0 0 0;
  padding-left: 4px;
}

.table-responsive {
}

label.watched {
  user-select: none;
  color: #ffffff;
}

table.color {
  background: rgba(0, 0, 0, 0.767);
}

.title,
.categoryname {
  color: rgba(122, 184, 255, 0.89);
  margin: 0;
}

.categoryname {
  margin-top: -20px;
}

body.login-form {
  text-align: center;
}

body.registerform {
  text-align: center;
}

body.login-form form,
body.registerform form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1.5rem;
  border: 1px solid rgb(0, 0, 0);
  padding: 40px 60px;
  margin-top: 20px;
  border-radius: 1%;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.726);
}

body.login-form .background-login {
  background-image: url(../pic/film1.jpg);
  background-repeat: no-repeat;
  padding-bottom: 20%;
  padding-top: 10%;
  background-position: left;
}

.registerform form {
  background: rgba(255, 255, 255, 0.726);
}

.registerform-bg {
  background-image: url(../pic/film1.jpg);
  background-repeat: no-repeat;
  padding-bottom: 15%;
  /* width: 100%;
  height: 100%; */

  /* background-position: center; */
  /* background-size: cover; */
}
